onboarding_growl/original/
onboarding_growl/data/Riley_CHE_data/
onboarding_growl/data/sspc/
lvk_observations/

further_analysis/data/eccentricity_variation/
further_analysis/data/separation_variation/
further_analysis/data/mass_variation/