onboarding_growl/original/
onboarding_growl/data/Riley_CHE_data/
lvk_observations/GWTC-5_extract/

further_analysis/data/eccentricity_variation/
further_analysis/data/separation_variation/
further_analysis/data/mass_variation/