onboarding_growl/extra_mass_transfer_and_orbital_separation.ipynb
onboarding_growl/tutorial_1_introduction_to_population_synthesis.ipynb
onboarding_growl/tutorial_2_analysing_a_population_of_gravitational_wave_sources.ipynb
onboarding_growl/tutorial_3_cosmic_integration_predicting_merger_rates.ipynb
onboarding_growl/data/Riley_CHE_data/
lvk_observations\GWTC-5_extract/

further_analysis/data/eccentricity_variation/
further_analysis/data/separation_variation/
further_analysis/data/mass_variation/
